/* Footer */
.footer{
    color: white;
    height: 75px;
    background-color: black;
    bottom: 0;
}

footer{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.footer__logo{
    left: 0px;
    bottom: 8px;
    width: 55px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: contain;
}

/* Home */
.SSDC{
    /* margin-top: 165px; */
    color: white;
}

.heading{
    padding-top: 70px;
}

.bg{
    width: 100%;
    height: 100%;
    top: 0;
    background-image:
        linear-gradient(rgba(36, 36, 36, 0.7),
            rgba(48, 48, 48, 0.7)),
        url("https://raw.githubusercontent.com/dellucifer/portfolio/main/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar */
.nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 65px;
    z-index: 1;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: white;
}

.nav__black{
    background-color: black;
    color: white;
}

.nav__logo{
    position: fixed;
    left: 0px;
    width: 45px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: contain;
}

.nav__avatar{
    cursor: pointer;
    position: fixed;
    right: 20px;
    width: 30px;
}

.nav__elements{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

.nav__element{
    padding: 10px;
    cursor: pointer;
    letter-spacing: 1.42px;
}

/* Contests */
.contests{
    margin: 50px 0px  50px 0px;
    color: white;
    /* margin-bottom: 50px; */  
}

.list__contents{
    text-decoration: none;
}

.list__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__buttons > button{
    margin: 10px 10px;
    padding: 8px;
    border-radius: 6px;
    width: 10%;
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color : transparent;
    outline: none;
}

.list__buttons > button:hover {
    color: #001F3F;
    background-color: #fff;
}